.midSection {
  margin: 5%;
}

.contact {
  padding: 3% 5%;
  border: 3px ridge orange;
}

.contactTitle {
  text-decoration: underline orange;
  text-align: center;
  color: blue;
  padding-bottom: 5%;
}

.submitButton {
  margin-top: 9%;
  text-align: center;
}

.stories {
  padding: 1% 3%;
}

.stories .card {
  text-align: center;
  margin: 3%;
  border: 3px ridge orange;
}

.topStories {
  margin-top: 5%;
  text-align: center;
}

.gallarySection {
  margin: 3%;
  padding: 3%;
  box-sizing: border-box;
}

.gallarySection .header {
  text-align: center;
  padding: 32px;
}

.gallarySection .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallarySection .column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallarySection .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallarySection .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallarySection .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  background-color: greenyellow;
  padding: 5%;
}
